@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300,400);
@import url("http://s3-eu-west-1.amazonaws.com/wwffont/en/fonts.css"); 

body , html{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif, Arial;
	font-weight: 300;
	color:#333;
	font-size: 12px;
	font-weight:400;
	background: #fff;
}

.verde{color:#9c6}
.bg_verde{ background-color:#9c6}

p { margin-bottom:20px; } 
ul{list-style: none} 
.bold{ font-weight:700 }

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 

::-webkit-scrollbar {
	height: 18px;
	width: 18px;
} 
/* Track */
::-webkit-scrollbar-track {
	background-color:#fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:#fff 5px solid;
	background-color:#ccc; 
}::-webkit-scrollbar-thumb:hover{ 
	background-color:#333; 
}  

.container{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

/* TOPO */

header{ 
	height: 460px;
	position: relative;
	padding-top: 80px;
}

#logo_wwf{
	position: absolute;
	top: 0;
	left: 30px;
	z-index: 1;
}

#logo_lep{
	position: absolute;
	top: 15px;
	left: 150px;
}

#contato{
	position: absolute;
	right: 30px;
	top: 27px;
	width: 100px;
}

.contato_bt{
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-left: 5px;
	background-color: #444;
	border-radius: 20px;
	float: right;
	cursor: pointer;
}

.contato_bt:hover{background-color:#99cc66}


/* BANNER */

#banner{
	width: 100%;
	height: 300px;
	background-image:url(banners/banner10.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
}

#banner_psc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;	
	background-image:url(_layout/banner_psc.png);
	background-position: center;
	background-size: cover;
}

#banner_credito{
	position: absolute;
	padding:  4px 0 0 4px;
	right: 0;
	bottom: 0;	
	font-size: 8px;
	color: #ccc;
	font-family: Arial, sans-serif;
	background: #fff;
	z-index: 2;
}


/* MENU */

#menu{
	width: 100%;
	text-align: center;
	height: 80px;
}

#menu_bts{ 
	display: table;
	width: 400px;
	height: 100%;
	margin: 0 auto;
	color: #ccc;
	font-size: 13px;
}

.menu_bt{
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 400;
}

.menu_bt:hover, .menu_bt:active{
	color: #9c6;
}

.menu_bt.select{
	color: #9c6;
	font-weight: 700;
	pointer-events: none;
} 

/* FOOTER */

footer{
	background: #333;
	height: 300px;
}

/* PROJETOS */

#projetos{	
	margin-bottom: 80px;
}

.projeto{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	
	background-image: url(_layout/MAPA_TESTE.jpg);
	background-position: center;
	background-size: cover;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.projeto_bts{
	width: 100%;
	height: 100%;
	border: 20px rgba(0,0,0,0) solid;
	position: relative;
}

.titulo{
	max-width:100%;
	height: 42px;
	padding:  8px 22px 0 52px;
	background-image: url(_layout/icon_plus.png);
	background-repeat: no-repeat;
	background-position: left;
	position: absolute; 
	top: 0;
	left: 0; 
	font-family: WWFRegular, 'Roboto Condensed', sans-serif, Arial;
	font-weight: 400;
	letter-spacing: .5px;
	font-size: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	-webkit-font-smoothing: antialiased !important;
	-khtml-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-ms-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
}

.mapa_bt{background-color: rgba(34,34,34,.8); cursor: pointer}
.mapa_bt{background-color: rgba(34,34,34,.8); cursor: pointer}
.mapa_bt:hover, .mapa_bt:active{background-color: rgba(153,204,102,.8);}

.resultados{
	padding:  10px 15px 10px 52px;
	background-image: url(_layout/icon_dw2.png);
	background-repeat: no-repeat;
	background-position: left;
	position: absolute; 
	top: 43px;
	left: 0; 
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.resultados_lista{
	position: absolute;
	top: 74px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	max-width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.resultados_lista li{
	padding: 10px 15px 10px 52px;
	margin-bottom: 1px;
	color: #fff;
	max-width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 

.resultados_lista li.select{
	background-color: rgba(34,34,34,.8);  
	color: #666;
} 

.zoom_in{
	width: 42px;
	height: 42px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(_layout/icon_zoom_in.png);
}

.zoom_out{
	width: 42px;
	height: 42px;
	position: absolute;
	top: 43px;
	right: 0;
	background-image: url(_layout/icon_zoom_out.png);
}

.resumo{
	padding: 10px 15px 10px 52px;
	background-color: rgba(34,34,34,.8); 	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	min-width: 300px;
	background-image: url(_layout/icon_up2.png);
	background-repeat: no-repeat;
	background-position: left;  
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	 
}

.resumo_tx{
	padding: 20px 15px 20px 52px;
	background-color: rgba(34,34,34,.8); 	
	position: absolute;
	bottom: 34px;
	left: 0;
	width: 50%;
	min-width: 300px;
	overflow: auto;
	height: 135px;
	line-height: 18px;
	color: #999;
}

.resumo_tx::-webkit-scrollbar-track {
	background-color: #222;
} 
.resumo_tx::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:#222 5px solid;
	background-color:#999; 
}
.resumo_tx::-webkit-scrollbar-thumb:hover{ 
	background-color:#fff; 
}  



/* AJUSTES */
.pointer{ cursor: pointer }
.fr { float: right;}
.fl {float: left; }
