@charset "UTF-8";
/* CSS Document */

body, html{
	padding:0; margin:0; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	padding-bottom:50px;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 
 
iframe{
	width: 100%;
	height: 360px;
}

#dados{ width: 90%; min-width: 600px; max-width: 900px }

.login{
	background:#333;
}.login img{position:absolute; top:0x; left:0} 

#dados_login{
	width: 400px;
	height: 300px;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#dados_login img{
	position: absolute;
	top: -80px;
	left: 90px;
}

.link_login:link{color:#fff; text-decoration:none}
.link_login:hover{color:#fff; text-decoration:underline}
.link_login:active{color:#fff; text-decoration:underline}
.link_login:visited{color:#fff; text-decoration:none} 

a{color:#333} 
a:link{ text-decoration:none}
a:hover{ text-decoration:none}
a:active{ text-decoration:none}
a:visited{ text-decoration:none}

li{	list-style:none; margin:0; padding:0}
ul{
	list-style:none; 
	margin:0;
	padding: 0;
}

#dados ul{ 
	border: #dfdfdf 1px solid;
	width: 100%;
	min-height: 42px;
	border-radius: 3px;
	padding: 1px;
	padding-bottom: 0;
}

hr{
	width:100%;
	background-color:#ddd;
	border:none;
	height:1px;
	margin:40px 0 20px 0;
}

#mensagem_wrap{
	width:100%;
	height:100px;
	display:block;
} 
 
#mensagem{
	height:100px;
	font-size:14px;
	width: 100%;
	padding:43px;
	text-align: center
}

.msg_ok{color:#85c7aa}
.msg_erro{color:#df746e}

#cont{
	margin-left:280px
} 

#links{
	 height: 500px;
}

.btg_voltar{	
	font-weight:bold;
	border-radius:3px;
	background-image:url(_layout/bg_bts_cms.jpg);
	background-size:1px 45px;
	border:#dfdfdf 1px solid;
	cursor:pointer;
	width: 100%;
	display: block;
	padding: 15px;
	text-align: center;
	margin-bottom: 1px;
	position: relative;
}
.btg_voltar img{
	position: absolute; left: 0; top: 0
}


/* MENU */

#logo{
	width:100%;
	height:100px;
}

#menu{
	width:220px;
	height:100%;
	background-color:#333;
	position:fixed;
	font-size:10px;
}

.menu_ul{	
	border-top:#777 1px solid;
}

.menu_ul a{
	display:block;
	width:100%;
	padding: 8px 20px;
	border-bottom:#777 1px solid; 
	color:#fff;
}
 
.menu_select{
	border-bottom:#fff 1px solid;
	background-color:#fff; 
	display:block;
	width:100%;
	padding: 8px 20px;
}

.titulo_lg{
	margin-top:30px;
	padding-left:20px;
	padding-bottom:5px;
	font-size:12px;
	color:#999;
}

.menu_ul span{
	position:relative;
	left:10px;
	bottom:3px;
	}

/* SUBMENU */

.submenu_ul{
	height:30px;
	margin-bottom:20px;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	text-align: center; 
	background-size: 1px 30px;
	border:0;
} 

.submenu_ul li{
	background-repeat: repeat-x;
	display: inline-block;
	margin: 0 1px;
}

.submenu_ul a{
	background-image:url(_layout/bg_bts_cms.jpg);
	padding:8px 15px;
	color:#333;
	border:#ddd 1px solid;
	border-radius: 3px;
	width: 100%;
	display: inline-block;
} 
	
.submenu_select{
	background-color: #333;
	color: #fff;
	padding:8px 15px;
	border-radius: 3px;
	border:#ddd 1px solid;
	font-weight: normal;
	display: inline-block;
} 

/* CONTEUDO */ 

.titulo_pg{
	color:#333;
	font-size:11px;
	font-weight: bold;
	margin-top:8px;
	margin-bottom:30px;
	clear:both;
}

.titulo{
	color:#999;
	font-size:11px;
	margin-top:25px;
	margin-bottom:5px;
}
  
.btg{
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	padding: 15px;
	background-color:#dfdfdf;
	font-weight:bold;
	color:#333;
	border-radius:3px;
	background-image:url(_layout/bg_bts_cms.jpg);
	border:#ddd 1px solid;
	text-align:center;
	cursor:pointer;
	background-size:1px 45px;
}

.bt_add{
	margin-top:2px;
	padding: 5px;
	font-size: 18px;
	font-weight: normal;
}

.gravar{	
	padding:15px 0;
	background-size:1px 45px;
} 

.btp_tb{
	position:absolute;
	right:40px;
	top:2px;
	font-weight:bold;
	border-radius:3px;
	background-image:url(_layout/bg_bts_cms.jpg);
	border:#ddd 1px solid;
	margin:3px;
	padding:8px 12px;
	cursor:pointer;
}

.checkbox{margin-bottom:5px; }
.checkbox svg{position:relative; top:8px} 

.banner{
	width: 100%; 
	height: 300px;
	position: relative;
	margin-top: 30px;
	overflow: hidden;
}

.banner img { width:900px; position: absolute; left: 0; top: 0;}
.banner .bt_del{ position: absolute; top: 10px; right: 10px; }
.banner a:hover{opacity: .7}

.input{
	width:100%;
	padding:10px;
	border:0;
	font-size:12px;
	background:#f0f0f0;
}  

.text{
	width:100%;
	height:200px;
	padding:10px;
	font-size:12px;
	border:0;
	background:#f0f0f0;
	}
	
.embed_in{
	width:100%;
	height:130px;
	padding:5px;
	border:#ddd 1px solid;
	background: #c1dbd0;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url(_layout/embed_in.png);
}
	

.bg1{ background-color:#a8b398 }
.bg2{ background-color:#99b1bf }
.bg3{ background-color:#b1a8bf }  

.hover:hover{background-color:#f9f9f9}


/* ITEM */

.item_tb {
	width:36px;
	height:36px;
	float: left;
	position: relative;
	z-index: 1;
}

.item_lb{ 
	float: left;
	margin-left: 10px;
	padding-top: 12px;
	position: relative;
	z-index: 1;
	max-width: 80%;
    overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item_link {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
} 

.item {
	width:100%;
	height:42px;
	padding:2px;
	margin-bottom:1px;
	position:relative;
	border-radius:2px;
	background:#f0f0f0;
	overflow: hidden;
}   

/* SORTABLE */

.handle{
	width:30px; 
	height:30px; 
	cursor:move;
	float:right; 
	margin:3px;
	position: relative;
	z-index: 2;
}

.excluir_tudo{
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#933;
	color:#fff; 
	padding:15px 0;
	width:100%;
	font-weight:bold;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	text-align:center;
	cursor:pointer;
}
.excluir_tudo:hover{color:#fff} 




.btp{
	float: right;
	font-weight:bold;
	background-image:url(_layout/bg_bts_cms.jpg);
	border:#ddd 1px solid;
	margin:3px;
	padding:15px;
	cursor:pointer;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
	z-index: 2;
}

.bt_del{
	background-image:url(_layout/lixo_p.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#933;
	width:7px;
	border:none;
}
	


.img_preview{
	width: 100%;
	height: 100%;
	overflow: auto;
}

.emb_preview{
	width: 100%;
	padding-top: 75%;
	overflow: hidden;
	position: relative;
}.emb_preview iframe{ width: 100%; height: 100%; position: absolute; top: 0; left: 0;}


.tb_bg{
	margin-bottom:10px;
	padding:0;
	width:300px;	
	height:300px;
}  
.banner_bg{
	margin-bottom:10px;
	padding:0;
	width:1200px;	
	height:300px;
}

#topo{
	width:100%;
	padding:20px 15px;
	position:relative;
	color: #333;
	font-size: 14px;
	text-align: center;
	font-weight: bold
}

.select{
	width:100%;
	height:35px;
	border:none;
	color:#FFF;
	background-color:#333;
	background-image:url(_layout/bg_select_cms.png);
	background-repeat:no-repeat;
	background-position:right;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	-webkit-padding-start: 10px;
}
 
.ckeckbox_img{
	background-color:#333;
	position:relative;
	top:9px;
	width:21px;
	height:21px;
	padding:3px;
	border-radius:2px;
}
 
#rodape{
	width:100%;
	height:100px;
} 

.legenda{
	width: 100%;
	height: 35px;
	margin-bottom: 1px;
	display: table;
}

.legenda_cel{
	width: 300px;
}

.legenda input{
	height: 35px; 
	padding:10px;
	border:#fff 1px solid;
	font-size:12px;
	background:#f0f0f0;
} 

.legenda_cor{
	display: table-cell;
	background: #f0f0f0;
	width: 1%;
	border:#fff 1px solid;
	
}

.legenda_label{
	display: table-cell;
	width: 80%;
}
.legenda_rgb{
	display: table-cell;
	width: 8%;
	text-align: center;	
}
.legenda_hex{
	display: table-cell;
	width: 19%;
	text-align: center;	
}

.legenda_col2{
	float: right;
	width: 15%;
	text-align: center;	
}

.legenda_col1{
	float: right;
	width: 24%;
	text-align: center;	
}
 

/* AJUSTE */
.ajuste_dados{margin-top:25px;}
.mt0{margin-top:0;}
.mr0{margin-right:0;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mr20{margin-right:20px;}
.fl{float:left}
.fr{float:right}
.clear{clear:both;}
#cinza{color: #ccc}
.mt5{margin-top: 5px;} 
